.ctm-btn{
    /* background-color: green; */
    width:100px;
    margin: 2px;
}
.btn-edit{
    background: rgb(69,90,252);
background: linear-gradient(90deg, rgba(69,90,252,1) 0%, rgba(58,180,125,1) 100%);
}
.table{
    color: aliceblue;
}
.form-control{
    background-color: transparent;
}